# Environments
.venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Data
data/raw/*
!data/raw/.gitkeep
data/downloads/*
!data/downloads/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Artifacts & Checkpoints
artifacts/checkpoints/*
!artifacts/checkpoints/.gitkeep
artifacts/check_samples/*
!artifacts/check_samples/.gitkeep
artifacts/*.json

# Streamlit
.streamlit/

# Testing
.pytest_cache/
