# Environments
.venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Large Data (raw downloads and large processed tables)
data/raw/*
!data/raw/.gitkeep
data/downloads/*
!data/downloads/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Streamlit
.streamlit/

# Testing
.pytest_cache/
